@import 'variables';
@import 'mixins';


//body {
//    background-color: #014;
//    font-family: 'Source Sans Pro', sans-serif;
//}
//.testTitle {
//    font-size: 114px;
//    font-weight: 900;
//    font-style: normal;
//    font-stretch: normal;
//    line-height: 1.17;
//    letter-spacing: 3.7px;
//    text-align: left;
//    color: #ffffff;
//}

body {
    overflow-x: hidden;
}


// HEADER
.header {
    position: absolute;
    padding: 15px 9.375% 0;
    width: 100%;
    z-index: 10;
    &__holder {
        position: relative;
        width: 100%;
        display: flex;
        &__leftBlock {
            width: 40%;
            padding-right: 8.5%;
            padding-top: 16px;
            &__listholder {
                display: flex;
                justify-content: space-between;
                &--item {
                    position: relative;
                    font-family: $fname;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 1.1px;
                    text-align: left;
                    color: #ffffff;
                    text-transform: uppercase;
                    .hoverFx {
                        background-image: url(../images/headerHover.svg);
                        position: absolute;
                        left: -26px;
                        width: 18px;
                        height: 18px;
                        animation: mymove 4s linear infinite;
                        
                    }
                    @keyframes mymove {
                        from {transform: rotate(0deg)}
                        to {transform: rotate(360deg)}
                    }
                }
            }
        }
        &__centerBlock {
            width: 20%;
            display: flex;
            justify-content: center;
        }
        &__rightBlock {
            width: 40%;
            padding-left: 8.5%;
            padding-top: 16px;
            display: flex;
            justify-content: space-between;
            &--link {
                position: relative;
                font-family: $fname;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.1px;
                text-align: left;
                color: #ffffff;
                text-transform: uppercase;
                .hoverFx {
                    background-image: url(../images/headerHover.svg);
                    position: absolute;
                    left: -26px;
                    width: 18px;
                    height: 18px;
                    animation: mymove 4s linear infinite;
                }
                @keyframes mymove {
                    from {transform: rotate(0deg)}
                    to {transform: rotate(360deg)}
                }
                .name {
                    color: #fff;
                }
            }
            &--menuToggle {
                cursor: pointer;
                z-index: 150;
            }
        }
    }
    .navBlock {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 100;
        background-color: #090c30;
        top: 0;
        left: 0;
        padding: 230px 15.97% 0;
        transform: translateX(100%);
        transition: all 0.5s ease;
        &__holder {
            display: flex;
            justify-content: space-between;
            .menuBlock {
                &--name {
                    font-family: $fname;
                    font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.9px;
                    text-align: left;
                    color: #ffffff;
                    margin-bottom: 23px;
                }
                &__listHolder {
                    &--item {
                        font-family: $fname;
                        font-size: 18px;
                        font-weight: 400;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.9px;
                        text-align: left;
                        color: #ffffff;
                        margin-bottom: 10px;
                        &:first-child {
                            margin-top: 0;
                            a {
                                padding-top: 0;
                            }
                        }
                        a {
                            padding: 6px 0;
                        }
                    }
                }
            }
//            li {
//                position: relative;
//                font-family: $fname;
//                font-size: 16px;
//                font-weight: bold;
//                font-style: normal;
//                font-stretch: normal;
//                line-height: normal;
//                letter-spacing: 1.1px;
//                text-align: left;
//                color: #ffffff;
//                text-transform: uppercase;  
//            }
        }
    }
    .navBlock.active {
        transform: translateX(0%);
    }
}

// INDEX PAGE
.introSecton {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/sydney-bike-polo-1140-x-600-jpg-1080-x-594.jpg);
    background-size: cover;
    background-position: center;
    .intro__bgHolder {
        height: 100%;
        width: 100%;
        background-color: rgba(9,12,48, 0.92);
        position: absolute;
        z-index: 0;
    }
    .intro__holder {
//        display: flex;
//        justify-content: center;
//        align-items: center;
        padding: 16% 20.236%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        position: relative;
        &--title {
            font-family: $fname;
            font-size: 114px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 3.7px;
            text-align: center;
            color: #ffffff;
        }
        &--btn {
            width: 205px;
            height: 45px;
            border-radius: 10px;
            background-color: rgba(238, 87, 68, 0.13);
            border: solid 2px #ee5744;
            font-family: $fname;
            font-size: 18px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            text-align: center;
            color: #ee5744;
            padding: 8px;
            margin-top: 63px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgba(238, 87, 68, 1);
                color: #fff;
            }
        }
    }
}

// FOOTER
.footer {
    position: relative;
    background-color: #090c30;
    .topFooter {
        padding: 27px 64px 19.5px;
        display: flex;
        width: 100%;
        &__menuBlock {
            width: 34%;
            display: flex;
            align-items: flex-end;
            margin-bottom: 14px;
            &__listHolder {
                display: flex;
                &--item {
                    font-family: $fname;
                    font-size: 14px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.9px;
                    text-align: left;
                    color: #ffffff;
                    a {
                        padding: 0 10px;
                        margin: 0 34px;
                    }
                    &:first-child {
                        a {
                            padding-left: 0px;
                            margin-left: 0px;
                        }
                    }
                    &:last-child {
                        a{
                           padding-right: 0px;
                            margin-right: 0px; 
                        }
                        
                    }
                }
            }
        }
        &__socialBlock {
            width: 34.826%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            &--link {
                margin-right: 8.5%;
            }
        }
        &__getNewsBlock {
            width: 31.174%;
            margin-bottom: 5px;
            &--name {
                font-family: $fname;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.1px;
                text-align: left;
                color: #fafafa;
                margin-bottom: 11px;
            }
        }
    }
    .bottomFooter {
        border-top: solid 2px #1a1c3b;
        padding: 35.5px 64px 41px;
        display: flex;
        justify-content: space-between;
        &__leftBlock {
            &--copyRight {
                font-family: $fname;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.8px;
                text-align: left;
                color: #fafafa;
            }
        }
        &__rightBlock {
            &--madeBy {
                font-family: $fname;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.8px;
                text-align: left;
                color: #fafafa;
            }
        }
    }
}
// FOOTER FORM
.getLastestNews {
    &__holder {
        display: flex;
        width: 100%;
        position: relative;
        &--email {
            width: 66.26%;
            font-family: $fname;
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            text-align: left;
            color: #8c8ba5;
            padding: 14px 15px 13px;
            height: 45px;
            border-radius: 10px 0 0 10px;
            background-color: #1a1c3b;
            border: solid 1px #2b2e52;
            &:focus {
                outline: none;    
            }
        }
        &--submit {
            width: 33.74%;
            font-family: $fname;
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            text-align: center;
            color: #ee5744;
            height: 45px;
            border-radius: 0 10px 10px 0;
            background-color: rgba(238, 87, 68, 0.13);
            border: solid 2px #ee5744;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgba(238, 87, 68, 1);
                color: #fff;
            }
            &:focus {
                outline: none
            }
        }
        .invalid-feedback {
            position: absolute;
            left: 15px;
            bottom: -18px;
            font-family: $fname;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            text-align: center;
            color: #ee5744;
            display: none;
        }
    }
}

.getLastestNews__holder.err .invalid-feedback {
    display: block;
}


.animated {
  	-webkit-animation-fill-mode: both;
	  -moz-animation-fill-mode: both;
	  -ms-animation-fill-mode: both;
	  -o-animation-fill-mode: both;
	  animation-fill-mode: both;
  	-webkit-animation-duration: 1s;
  	-moz-animation-duration: 1s;
  	-ms-animation-duration: 1s;
	  -o-animation-duration: 1s;
}
.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
  	-o-animation-name: shake;
    animation-name: shake;
    @keyframes shake {
          0%, 100% {transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
          20%, 40%, 60%, 80% {transform: translateX(10px);}
    }
}