@import 'variables';
@import 'mixins';


body {
    background-color: #090c30;
    font-family: 'Source Sans Pro', sans-serif;
}
.testTitle {
    font-size: 114px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 3.7px;
    text-align: left;
    color: #ffffff;
}